.title404{
    font-size:288px ;
    font-weight: 700;
    padding-top: 90px;
}
.sousTitle{
    font-size: 36px;
    padding-top: 20px;
}
.errorPageLink{
    padding-top: 150px;
    font-size: 18px;
    color:#FF6060 ;
}

@media screen and (max-width:600px) {
    .title404{
        font-size:96px ;
        padding-top: 180px;

    }
    .sousTitle{
        margin: 0 auto;
        word-wrap: break-word;
        word-break: keep-all;
        width: 219Px;
        font-size: 18px;
        padding-top: 11px;
    }
    .errorPageLink{
        padding: 133px 0;
        font-size: 14px;
    }
    
}

@media screen and (min-width:600.99px) and (max-width: 1024px){
    .title404{
        font-size:200px;
        padding-top:120px;
    }
    .sousTitle{
        font-size: 22px;
    }
    


}