.logo{
    width:210px;
    height:68px;
}
 .navbar{
   font-size: 24px;
   width:265px;
}
.header{
    padding: 40px 100px;
    
}
.navbar a{
    text-decoration: none;
    color: #FF6060;
    display: block;
    height: 33Px;
}
.navbar a.active{
border-bottom: 2px solid #FF6060;

}

@media screen and (max-width:600px)  {
    .logo{
        width:145px;
        height:43px;
    }
    .navbar{
        font-size: 12px;
        width:128px;
     }
     .header{
        padding: 20px;
        margin: 0;
    }
    .navbar a{
        height:15px;
    }
    .navbar a.active{
        border-bottom: 1px solid #FF6060;
        
        }
}

@media screen and (min-width:600.99px) and (max-width: 919.99px){

    .header{
        padding: 40px 50px;
        
    }

}