
.homeImg{
    width: 100vw;
    padding: 0 100px;;
    position:relative;
    height:223px;
    margin-top: 28px;
}
.homeImg img{
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    filter:brightness(70%);
}
.homeTitle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 48px;
    color: #ffff;
    width:705px;
    margin-bottom: 0;
}

.sectionLoge{
    width: 100vw;
    padding: 0 100px;
    margin-top: 43px;
}
.logements{
    background-color: #F7F7F7;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sectionLoge a{
    text-decoration: none;
    color: #ffff;

}
.cards{
    position: relative;
    margin: 0 auto;
    margin-top:56px;
}
.logeCard{
    display: block;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
}
.logeCard img{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* filter:brightness(70%); */
}
.CardTitle{
    height:26px;
    bottom:12%;
    left:7%;
    width:300px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align: left;
    
}
.CardLocation{
    bottom:5%;
    left:7%;
    
}

@media screen and (max-width:600px)  {
    .homeImg{
        width: 100vw;
        padding: 0 20px;;
        height:111px;
        margin-top: 0;
    }
    .homeImg img{
        border-radius: 10px;
    }

    .homeTitle{
        font-size: 24px;
        height:48px;
        width:217px;
        line-height: 24px;
        margin-bottom: 0;
        left:38%;
    }
    .sectionLoge{
        width: 100vw;
        padding: 0 20px;;
       
        background-color: white;
        margin-top: 0;
    }
    .logements{
        grid-template-columns: 1fr;
    }
    .cards{
        margin-top:20px;
    }
    .logeCard{
        width: 100%;
        height: 335px;
    }
}

@media screen and (min-width:920px) and (max-width: 1246px){

    .logements{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width:600.99px) and (max-width: 919.99px){

    .logements{
        grid-template-columns: 1fr;
    }
    .homeImg{
    padding: 0 50px;
    }
    .homeTitle{
    font-size: 38px;
    width:500px;
    }
    .sectionLoge{
    padding: 0 50px;
    }
    .logeCard{
        width:580px;
    }
}