
.homeImg{
    object-fit: cover;
    width: 1240px;
    height:223px;
    border-radius: 25px;
    filter:brightness(70%);
    
}
.homeTitle{
    font-size: 48px;
    color: #ffff;
    width:705px;
    margin-bottom: 0;
}

.sectionLoge{
    background-color: #F7F7F7;
    width: 1240px;

}

.sectionLoge a{
    text-decoration: none;
    color: #ffff;

}

.logeCard{
    display: block;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    overflow: hidden;
}
.logeCard img{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* filter:brightness(70%); */
}
.CardTitle{
    height:26px;
    bottom:12%;
    left:7%;
    width:300px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align: left;
    
}
.CardLocation{
    bottom:5%;
    left:7%;
    
}